@model TOURDL.Models.SPTOUR



@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/AdminAdd.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","SPTOURs")">Quản lý sản phẩm tour</a></li>
        <li class="breadcrumb-item">Thêm sản phẩm tour</li>
    </ol>
</nav>
<div class="contains">

    <h2>Thêm mới sản phẩm tour</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                ID Sản phẩm tour
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_SPTour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_SPTour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tên sản phẩm tour
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenSPTour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSPTour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Giá người lớn
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Ngày khởi hành
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKhoiHanh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               Ngày kết thúc
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               Mô tả
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Điểm tập trung
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemTapTrung, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemTapTrung, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Điểm đến
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemDen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemDen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               Số người
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoNguoi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoNguoi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Hình ảnh
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.HinhAnh, null, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
              Giá trẻ em
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               Tên Nhân viên
                <div class="col-md-10">
                    @Html.DropDownList("ID_NV",null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_NV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tên tour
                <div class="col-md-10">
                    @Html.DropDownList("ID_TOUR", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TOUR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
