@model TOURDL.Models.KHACHHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/AdminAdd.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","KHACHHANGs")">Quản lý khách hàng</a></li>
        <li class="breadcrumb-item">Thêm khách hàng</li>
    </ol>
</nav>   
<div class="contains">

    <h2>Thêm khách hàng mới</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Họ và tên khách hàng
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen_KH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
Giới tính khách hàng
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GioiTinh_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GioiTinh_KH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
Ngày sinh                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgaySinh_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh_KH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
Mật khẩu                <div class="col-md-10">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CCCD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
SĐT                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDT_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT_KH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
Email                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail_KH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
Điểm                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button>
                        <input type="submit" value="Thêm" class="btn btn-default" />
                    </button>
                </div>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Back to List", "Index")
