@model TOURDL.Models.SPTOUR

@{
    ViewBag.Title = "DatTour";
    Layout = "~/Views/Shared/CusLayout.cshtml";
}
<link href="~/CSS/ModalDatTour.css" rel="stylesheet" />
<link href="~/CSS/TrangChu.css" rel="stylesheet" />
<link href="~/CSS/DatTour.css" rel="stylesheet" />
<link href="~/Content/bootstrap5/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<div class="container">
    <h2 style="text-align:center;margin-top:20px;color:black;font-weight:700">Đặt Tour</h2>
    @using (Html.BeginForm("DatTour", "DatTour", FormMethod.Post))
    {
        <div class="row">
            <div class="col-25">
                <label for="fname">Họ và tên</label><label style="color:red">*</label>
            </div>
            <div class="col-75">
                <input type="text" name="hoten" value="@Session["UsernameSS"]" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Email</label><label style="color:red">*</label>
            </div>
            <div class="col-75">
                <input type="text" name="email" placeholder="@Session["EmailUserSS"]" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Số điện thoại</label><label style="color:red">*</label>
            </div>
            <div class="col-75">
                <input type="text" name="sdt" placeholder="@Session["SDT"]" readonly="readonly">
            </div>
        </div><div class="row">
            <div class="col-25">
                <label>Số người lớn</label><label style="color:red">*</label>
            </div>
            <div class="col-75">
                <input type="number" name="songuoilon" min="1" placeholder="Nhập số lượng người lớn">
                @*<select name="songuoilon">

                    <option value="10">dưới 10 người</option>
                    <option value="20">dưới 20 người</option>
                    <option value="30">dưới 30 người</option>
                    <option value="40">dưới 40 người</option>
                    <option value="50">dưới 50 người</option>
                </select>*@
            </div>
        </div><div class="row">
            <div class="col-25">
                <label>Số Trẻ em</label><label style="color:red">*</label>
            </div>
            <div class="col-75">
                <input type="number" name="sotreem" min="0" placeholder="Nhập số lượng trẻ em">
                @*<select name="sotreem">
                    <option value="10">dưới 10 người</option>
                    <option value="20">dưới 20 người</option>
                    <option value="30">dưới 30 người</option>
                    <option value="40">dưới 40 người</option>
                    <option value="50">dưới 50 người</option>
                </select>*@
            </div>
        </div>
        <input type="hidden" name="idkh" value="@Session["IDUser"]" />
        <input type="hidden" name="gianguoilon" value="@Model.GiaNguoiLon" />
        <input type="hidden" name="giatreem" value="@Model.GiaTreEm" />
        <input type="hidden" name="idsptour" value="@Model.ID_SPTour" />

        if (Session["IDUser"] != null)
        {
            <div class="row" style="margin:10px"><input type="submit" value="Đặt Tour"></div>
        }
        else
        {
            <div class="row" style="margin:10px">
                <div class="div-modal" id="myBtn">Đặt Tour</div>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="font-size: 28px; font-weight: bold;">Welcome</h4>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h2 style="margin:15px">Vui lòng đăng nhập để đặt tour</h2>
                            <a href="@Url.Action("DangNhap","Login")" style="padding:15px;">Đăng nhập</a>
                            <i class="fa-solid fa-right-to-bracket" style="font-size:25px;padding:15px 15px 15px 0px"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fa-solid fa-clover"></i>
                        <h5 style="text-align:center!important">Xin cảm ơn!</h5>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="card mb-3" style="max-width: 100%;border:none">
    <div class="row g-0">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="~/Images/@Model.HinhAnh" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h3 class="card-title">Tên Tour</h3>
                <h6>
                    <i class="fa-solid fa-house-chimney" style="margin:5px"></i>Điểm khởi hành:
                    @Html.DisplayFor(modelItem => Model.DiemTapTrung)
                </h6>
                <h6>
                    <i class="fa-solid fa-clock" style="margin: 5px"></i>Thời gian:
                    @Html.DisplayFor(modelItem => Model.NgayKhoiHanh)
                </h6>
                <h6>
                    <i class="fa-solid fa-car-side" style="margin: 5px"></i>Điểm đến:
                    @Html.DisplayFor(modelItem => Model.DiemDen)
                </h6>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;border:none">
    <div class="row g-0">
        <div class="col-md-1"></div>
        <div class="card-body col-md-10" style="border: 2px solid black">
            <h3 class="card-title">Hỗ trợ thanh toán</h3>
            <img class="img-visa" src="~/Images/visa.jpg" />
            <img class="img-visa" style="max-width:22%" src="~/Images/logo-visa.png" />
            <h6 style="font-weight:600">
                Thanh toán tại văn phòng :
            </h6>
            <p class="card-text">
                Địa chỉ: 828 Sư Vạn Hạnh, phường 5, quận 10, TP.HCM
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>