@model IEnumerable<TOURDL.Models.TOUR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    a {
        text-decoration: none;
    }

        a:hover {
            color: black;
            transition: 0.5s ease-in-out;
        }

    button {
        padding: 5px;
        border-radius: 10px;
    }

    .edit {
        color: green;
    }

    .detail {
        color: blue;
    }

    .delete {
        color: red;
    }
</style>
<div style=" background: #FFFFFF; border-radius:10px; padding:10px;">
    <h2 style="">QUẢN LÝ TOUR</h2>
    <p>
        <button>@Html.ActionLink("Thêm mới Tour", "Create")</button>
    </p>
</div>
    @foreach (var item in Model)
    {
        <div class="card" style="border-color:gray; flex-direction:row; margin-bottom:20px; padding:10px; margin-top:20px;">
            <img class="card-img-top" src="~/Images/@item.HinhTour" alt="Card image cap" style="max-width:300px; padding:0.5em; border-radius:50%;" />
            <div class="card-body" style="padding-left:30px;">
                <h2 class=" card-header-pills">
                    #@Html.DisplayFor(modelItem => item.ID_TOUR)
                </h2>
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.TenTour) </h4>
                <p class="card-text"> Giá tour: @Html.DisplayFor(modelItem => item.GiaTour) </p>
                <p class="card-text">Loại tour: @Html.DisplayFor(modelItem => item.LoaiTour) </p>
                <p class="card-text">Tỉnh thành: @Html.DisplayFor(modelItem=>item.TinhThanh)</p>
                <p class="card-text">Mô tả: @Html.DisplayFor(modelItem => item.MoTa)</p>
            </div> 
            <p style="float:right;padding-top:15px;">
                <button>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_TOUR }, new { @class = "edit" })
                </button>
                <button>
                    @Html.ActionLink("Details", "Details", new { id = item.ID_TOUR }, new { @class = "detail" })
                </button>
                <button>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_TOUR }, new { @class = "delete" })
                </button>
            </p>
        </div>
    }
